/**
 * YUI Cancel-Grids
 * @module cancel-grids
 * @namespace yui-
 * @requires grids
 */

/**
 * Generated automatically based on grids.css
 */

.yui-g .yui-g,
.yui-g .yui-gb,
.yui-g .yui-gb .yui-u,
.yui-g .yui-gc,
.yui-g .yui-gc .yui-u,
.yui-g .yui-gc div.first,
.yui-g .yui-gd,
.yui-g .yui-ge,
.yui-g .yui-ge div.first,
.yui-g .yui-gf,
.yui-g .yui-u,
.yui-g div.first,
.yui-gb .yui-g,
.yui-gb .yui-gb,
.yui-gb .yui-gc,
.yui-gb .yui-gc .yui-u,
.yui-gb .yui-gc div.first,
.yui-gb .yui-gd,
.yui-gb .yui-ge,
.yui-gb .yui-ge div.first,
.yui-gb .yui-ge div.yui-u,
.yui-gb .yui-gf,
.yui-gb .yui-gf div.first,
.yui-gb .yui-gf div.yui-u,
.yui-gb .yui-u,
.yui-gb div.first,
.yui-gc .yui-g,
.yui-gc .yui-u,
.yui-gc div.first,
.yui-gc div.first div.first,
.yui-gd .yui-g,
.yui-gd .yui-u,
.yui-gd div.first,
.yui-ge .yui-g,
.yui-ge .yui-u,
.yui-ge div.first,
.yui-gf .yui-g,
.yui-gf .yui-u,
.yui-gf div.first,
.yui-t1 #yui-main,
.yui-t1 .yui-b,
.yui-t2 #yui-main,
.yui-t2 .yui-b,
.yui-t3 #yui-main,
.yui-t3 .yui-b,
.yui-t4 #yui-main,
.yui-t4 .yui-b,
.yui-t5 #yui-main,
.yui-t5 .yui-b,
.yui-t6 #yui-main,
.yui-t6 .yui-b {
	float: none;
}

#doc,
#doc2,
#doc3,
#doc4,
.yui-g .yui-gb .yui-u,
.yui-gb .yui-g,
.yui-gb .yui-g div.first,
.yui-gb .yui-gb,
.yui-gb .yui-gb .yui-u,
.yui-gb .yui-gc,
.yui-gb .yui-gc .yui-u,
.yui-gb .yui-gd,
.yui-gb .yui-ge,
.yui-gb .yui-gf,
.yui-gb .yui-u,
.yui-gc .yui-g,
.yui-gc .yui-u,
.yui-gd .yui-u,
.yui-t1,
.yui-t1 #yui-main,
.yui-t1 #yui-main .yui-b,
.yui-t2,
.yui-t2 #yui-main,
.yui-t2 #yui-main .yui-b,
.yui-t3,
.yui-t3 #yui-main,
.yui-t3 #yui-main .yui-b,
.yui-t4,
.yui-t4 #yui-main,
.yui-t4 #yui-main .yui-b,
.yui-t5,
.yui-t5 #yui-main,
.yui-t5 #yui-main .yui-b,
.yui-t6,
.yui-t6 #yui-main,
.yui-t6 #yui-main .yui-b,
.yui-t7,
.yui-t7 #yui-main .yui-b {
	margin: 0;
}

.yui-b {
	position: static;
}

#doc,
#doc2,
#doc3,
#doc4,
.yui-t1,
.yui-t2,
.yui-t3,
.yui-t4,
.yui-t5,
.yui-t6,
.yui-t7,
body {
	text-align: left;
	text-align: start;
}

#doc,
#doc2,
#doc3,
#doc4,
#yui-main,
.yui-g .yui-g,
.yui-g .yui-g .yui-u,
.yui-g .yui-gb,
.yui-g .yui-gb .yui-u,
.yui-g .yui-gb div.first,
.yui-g .yui-gc,
.yui-g .yui-gc .yui-u,
.yui-g .yui-gc div.first,
.yui-g .yui-gd,
.yui-g .yui-gd div.first,
.yui-g .yui-ge,
.yui-g .yui-gf,
.yui-g .yui-u,
.yui-g .yui-u .yui-g,
.yui-gb .yui-g,
.yui-gb .yui-g .yui-u,
.yui-gb .yui-gb,
.yui-gb .yui-gb div.first,
.yui-gb .yui-gc,
.yui-gb .yui-gc .yui-u,
.yui-gb .yui-gc div.first,
.yui-gb .yui-gd,
.yui-gb .yui-gd .yui-u,
.yui-gb .yui-gd div.first,
.yui-gb .yui-ge,
.yui-gb .yui-ge .yui-u,
.yui-gb .yui-ge div.first,
.yui-gb .yui-gf,
.yui-gb .yui-gf .yui-u,
.yui-gb .yui-gf div.first,
.yui-gb .yui-u,
.yui-gc .yui-g,
.yui-gc .yui-g .yui-u,
.yui-gc .yui-u,
.yui-gc div.first,
.yui-gd .yui-g,
.yui-gd .yui-g .yui-u,
.yui-gd .yui-u,
.yui-gd div.first,
.yui-ge .yui-g,
.yui-ge .yui-g .yui-u,
.yui-ge .yui-u,
.yui-ge div.first,
.yui-ge div.first .yui-gd .yui-u,
.yui-ge div.first .yui-gd div.first,
.yui-gf .yui-g,
.yui-gf .yui-g .yui-u,
.yui-gf .yui-u,
.yui-gf div.first,
.yui-t1,
.yui-t1 .yui-b,
.yui-t2,
.yui-t2 .yui-b,
.yui-t3,
.yui-t3 .yui-b,
.yui-t4,
.yui-t4 .yui-b,
.yui-t5,
.yui-t5 .yui-b,
.yui-t6,
.yui-t6 .yui-b,
.yui-t7 {
	width: auto;
}
